/* Light variant for the Default theme for GIMP 3.0 */

/* Hint for debugging themes:
 * first enable the GTK inspector with
   gsettings set org.gtk.Settings.Debug enable-inspector-keybinding true
 * then (after restarting GIMP) call it up with ctrl+shift+i
 * or from GIMP's UI: File > Debug > Start GtkInspector
 */

/* Basic foreground, background and border colors. */
@define-color fg-color               rgb(87, 82, 121);
@define-color bg-color               rgb(250, 244, 237);
@define-color border-color           rgb(223, 218, 217);

/********* Variants for foreground colors *********/

/* In places where we want not as strongly contrasted text. */
@define-color dimmed-fg-color        rgb(121, 117, 147);
/* Disabled items, such as disabled actions in menus. */
@define-color disabled-fg-color      rgb(152, 147, 165);
/* Disabled buttons are dimmed even more (text needs to still be
 * readable, but buttons design are usually enough. */
@define-color disabled-button-color  rgb(206, 202, 205);

/********* Variants for background colors *********/

/* Background color for hovered items to "stick out". */
@define-color hover-color            rgb(244, 237, 232);
/* Background color when we want widgets-in-widgets to differenciate. It
 * will usually be "less extreme", i.e. darker on a light theme, or
 * lighter on a dark theme.
 */
@define-color widget-bg-color        rgb(223, 218, 217);
/* Color for selected items, in particular when their usual background
 * color is @widget-bg-color or @bg-color. It will usually be ligher on
 * a light theme, or darker on a dark theme.
 */
@define-color selected-color         rgb(255, 250, 243);

/* Background color more extreme in the theme tendency, i.e. darker on a
 * dark theme, ligther on a light theme. */
@define-color extreme-bg-color       rgb(253, 250, 246);
/* Color for a selected item to "stick out" when @extreme-bg-color is
 * used. It will usually be darker than @bg-color on a light theme,
 * ligher on a dark theme.
 */
@define-color extreme-selected-color rgb(223, 218, 217);

/********* Variants for border colors *********/

@define-color strong-border-color    rgb(223, 218, 217);
@define-color stronger-border-color  rgb(206, 202, 205);
/* Border color for the edge of certain widgets. This needs
 * to be dark on light theme and very dark on dark themes */
@define-color edge-border-color      rgb(206, 202, 205);

/********* Colors for special cases *********/

@define-color scrollbar-slider-color rgb(244, 238, 235);
@define-color scrollbar-trough-color rgb(255, 250, 243);

@define-color ruler-color            rgba(220,220,220,0.3);

/*
 * Paned separator handles
 */
paned.horizontal > separator {
  background-image: url("ui/separator-handle-v.svg");
}

paned.vertical > separator {
  background-image: url("ui/separator-handle-h.svg");
}


@import url("common-light.css");
