/* Middle gray default variant for GIMP 3.0 */

/* Our base color is "middle gray", which is often computed differently
 * according to various definitions.
 * We use the sRGB color #777777 (119, 119, 119) which is the conversion of LCH
 * (50, 0, 0), i.e. a 50% perceptual lightness gray. In linear sRGB, this is the
 * 18.42% gray.
 */

/* Hint for debugging themes:
 * first enable the GTK inspector with
   gsettings set org.gtk.Settings.Debug enable-inspector-keybinding true
 * then (after restarting GIMP) call it up with ctrl+shift+i
 * or from GIMP's UI: File > Debug > Start GtkInspector
 */

/* Basic foreground, background and border colors. */
@define-color fg-color               rgb(224, 222, 244);
@define-color bg-color               rgb(35, 33, 54);
@define-color border-color           rgb(68, 65, 90);

/********* Variants for foreground colors *********/

/* In places where we want not as strongly contrasted text. */
@define-color dimmed-fg-color        rgb(144, 140, 170);
/* Disabled items, such as disabled actions in menus. */
@define-color disabled-fg-color      rgb(110, 106, 134);
/* Disabled buttons are dimmed even more (text needs to still be
 * readable, but buttons design are usually enough. */
@define-color disabled-button-color  rgb(86, 82, 110);

/********* Variants for background colors *********/

/* Background color for hovered items to "stick out". */
@define-color hover-color            rgb(68, 65, 90);
/* Background color when we want widgets-in-widgets to differenciate. It
 * will usually be "less extreme", i.e. darker on a light theme, or
 * lighter on a dark theme.
 */
@define-color widget-bg-color        rgb(42, 39, 63);
/* Color for selected items, in particular when their usual background
 * color is @widget-bg-color or @bg-color. It will usually be ligher on
 * a light theme, or darker on a dark theme.
 */
@define-color selected-color         rgb(68, 65, 90);

/* Background color more extreme in the theme tendency, i.e. darker on a
 * dark theme, ligther on a light theme. */
@define-color extreme-bg-color       rgb(27, 25, 41);
/* Color for a selected item to "stick out" when @extreme-bg-color is
 * used. It will usually be darker than @bg-color on a light theme,
 * ligher on a dark theme.
 */
@define-color extreme-selected-color rgb(31, 29, 48);

/********* Variants for border colors *********/

@define-color strong-border-color    rgb(68, 65, 90);
@define-color stronger-border-color  rgb(86, 82, 110);
@define-color edge-border-color      rgb(68, 65, 90);

/********* Colors for special cases *********/

@define-color scrollbar-slider-color rgb(55, 51, 77);
@define-color scrollbar-trough-color rgb(42, 40, 62);

@define-color ruler-color            rgba(100,100,100,0.3);

@import url("common-light.css");
